* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    padding: 60px;
    background-color: #ACACAC;
    ;
    font-size: 20px;
    /*text-align: right;*/
}

.opcionesMenu {
    text-decoration: none;
    text-align: right;
    color: black;
    padding: 10px 20px;
    margin: 15px;
    /*Espacio entre las opciones del menú*/
    border-radius: 5px;
}

.opcionesMenu:hover {
    background: black;
    color: white;
}

ul {
    text-align: right;
    margin: 0px;
}

li {
    display: inline-block;
    text-decoration: none;
    margin: 0px;
}

.salas a:link,
.salas a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.salas a:hover,
.salas a:active {
    background-color: green;
    color: white;
}

.container {
    background-color: #ACACAC;
    width: 100%;
    padding: 6%;
    /* height: auto; */
    background-image: url("../media//sala-back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -55px;
    /*Si el div crece hacia abajo, se generará solo*/
}

.container h1 {
    color: white;
    margin-top: 0px;
}

.salas {
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    width: 48%;
    float: left;
    padding: 2%;
    text-align: left;
    box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.5);
}


/*Esta sección permite ampliar la clase al posicionarse encima*/

.salas:hover {
    transform: scale(1.02);
    transition: transform .3s;
}